@model IEnumerable<Epam.Training.Day14.Models.Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Cours.Name</h2>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayName("Имя")
        </th>
        <th>
            @Html.DisplayName("Фамилия")
        </th>
        <th>
            @Html.DisplayName("Университет")
        </th>
        <th>
            @Html.DisplayName("Курс")
        </th>
        <th>
            @Html.DisplayName("e-mail")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.University.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>        
    </tr>
}
</table>
<hr />
<div>
    @Html.ActionLink("К списку тренингов", "Index", "Home")
</div>
